<mat-card class="card-custom" align="center">
    <div class="menu-align">
        <form name="associadoForm" [formGroup]="associadoForm" novalidate>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label class="color-label">Nome</mat-label>
                    <input matInput formControlName="name" [(ngModel)]="associate.name" placeholder="Nome do associado">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label class="color-label">CPF</mat-label>
                    <input matInput formControlName="cpf" [(ngModel)]="associate.cpf" placeholder="Digite um cpf valido" mask="000.000.000-00">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label class="color-label">CEP</mat-label>
                    <input matInput formControlName="cep" [(ngModel)]="associate.cep" placeholder="Digite um cep valido" mask="00000-000">
                </mat-form-field>
            </p>
            <p>
                <button [disabled]="!associadoForm.valid" (click)="criarAssociado()" mat-flat-button class="large-button" [color]="associadoForm.valid ? 'success' : 'primary'">Salvar</button>
            </p>
        </form>

    </div>
</mat-card>

<br>

<div class="card-custom">

    <mat-form-field>
        <mat-label class="color-label">Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Hydrogen" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> NOME </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cidade">
            <th mat-header-cell *matHeaderCellDef> CIDADE </th>
            <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of associate"></mat-paginator>
</div>

