.menu-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mat-success {
    background-color: green;
    color: #fff;
}

.large-button {
    height: 100%;
    width: 100%;
    padding: 12px 24px;
}

.color-label {
    color: black !important;
}

.demo-table {
    width: 100%;
}

.mat-column-id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-nome {
    padding-left: 16px;
    font-size: 20px;
}

.mat-column-cpf {
    font-style: italic;
}

.mat-column-cidade {
    text-align: center;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}