<mat-toolbar class="menu-align">
    <button mat-button class="example-icon" aria-label="Example icon-button with menu icon">
        <span [routerLink]="['/associado']" routerLinkActive="selected">Associado</span>
    </button>
    <span></span>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <span [routerLink]="['/schedule']" routerLinkActive="selected">Pauta</span>
    </button>
    <span></span>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <span [routerLink]="['/vote']" routerLinkActive="selected">Votação</span>
    </button>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <span [routerLink]="['/session-vote']" routerLinkActive="selected">Sessão de votos</span>
    </button>
  </mat-toolbar>
 